Playground/Playground.Android/bin/
Playground/Playground.Android/obj/
Playground/Playground.MobileAppService/bin/
Playground/Playground.MobileAppService/obj/
Playground/Playground/bin/
Playground/Playground/obj/
Playground/Playground.iOS/bin/
Playground/Playground.iOS/obj/
.vs/Playground/
